/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2016, 3:16:59 PM
    Author     : studente
*/
body{
    color:black;
    font-size: 14px;
    font-family: 'Open sans','Arial','sans serif';
    
}

#logo{
    background-color: #1c345a;
}

.current_page_item{
    font-weight:bold;  
}

div#content h2{
    color:#9e1616;   
}
h1,h2,h3,h4,h5,h6{
    color:#1c345a;
}

#footer,#header{
   color:white;
}

a:link, a:visited{
   color: #9e1616;
}

a:hover{
    font-weight: bold;
    text-decoration: underline;    
}

a[href="studente_esami.html"]:link{
    color:#1c345a;   
    
}

#logo > h1{
    color:#FFFFFF;
    
} 

#footer p{
    color:#000000;
}